{% extends "base.html" %}
{% block content %}
{% csrf_token %}

<div style="font-size:13px">
  <b>Problem Code:</b><br>{{ exercise.code }}<br>
  <b>Time limit:</b><br>{{ exercise.time_limit }} ms<br>
  <b>Memory limit:</b><br>{{ exercise.memory_limit }} MB<br>
  <b>Description:</b><br>{{ exercise.description }}<br>
  <b>Input:</b><br>{{ exercise.input }}<br>
  <b>Output:</b><br>{{ exercise.output }}
</div>
{% if request.user.is_authenticated %}
<form action="/exercise/{{exercise.id}}/"
      method="post"
      enctype="multipart/form-data"
      style="font-size:13px">
  {% csrf_token %}
  {{ form }}
  <input type="submit" name="submit" style="margin-top:10px">
</form>
{% else %}
<p>Please <a href="/login?next={{ request.path }}">login</a> to submit.</p>
{% endif %}
{% endblock %}