{% extends "base.html" %}
{% block content %}
{% csrf_token %}

<div style="font-size:13px">
  Problem Code: {{ exercise.code }}<br>
  Time limit: {{ exercise.time_limit }} ms<br>
  Memory limit: {{ exercise.memory_limit }} MB<br>
  Description: {{ exercise.description }}<br>
  Input: {{ exercise.input }}<br>
  Output: {{ exercise.output }}
</div>
{% if request.user.is_authenticated %}
<form action="/exercise/{{exercise.id}}/submitcode/"
      method="post"
      enctype="multipart/form-data"
      style="font-size:13px">
  {% csrf_token %}
  {{ form }}
  <input type="submit" name="submit" style="margin-top:10px">
</form>
{% else %}
<p>Please <a href="/login" >login</a> to submit.</p>
{% endif %}
{% endblock %}